
@{
    ViewBag.Title = "Index";
}

<h2>Danh mục bài viết</h2>
<table class="table">
    <tr>
        <th>STT</th>
        <th>
            Tiêu đề
        </th>
        <th>
            Ngày đăng
        </th>
        <th>
            Người đăng
        </th>
       
    </tr>

    
</table>
