@using OnlineFoodWebsite.Model;
@{
    ViewBag.Title = "Home Page";
    List<MON> listMONBANCHAY = ViewBag.MonBanChay;
}

<div class="top-brands">
    <div class="container">
        <h3>Món bán chạy</h3>
        <div class="agile_top_brands_grids">
            @foreach (var item in listMONBANCHAY)
            {
                <div class="col-md-3 top_brand_left">


                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="tag"><img src="~/Areas/Administrator/Content/images/@item.HINHANH" alt=" " class="img-responsive" /></div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="@Url.Action("Detail","Home",new { id=item.MAMON})"><img title=" " alt=" " src="~/Areas/Administrator/Content/images/@item.HINHANH" class="img-responsive" /></a>
                                            <p>@item.TENMON</p>
                                            <h4>@item.GIA VNĐ</h4>
                                        </div>
                                       
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>

                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>


